div.container{
	width: 100%;
	border: 1px;

}

header, footer {
	
	color: white;
	background:pink;
	clear: left;
	padding: 0.5cm;
	text-align: center;
}

nav {
float:right;
max-width:160px;
height:1200px;
margin:0;
padding-right:50px;
border-right:150px gainsboro;
background: #000000;
text-align:left;
}

nav ul{
list-style-type: circle ;
padding:20px;
}

nav ul a {
	text-decoration: none;
}
article {
margin-right:50px;
border-right:4px;
padding:2cm;
overflow:hidden;
}
body {font-family: "Raleway", Arial, sans-serif}
.w3-row img {margin-bottom: -8px}